<link rel="stylesheet" href="./Resources/css/header.css">
<link rel="stylesheet" href="./Resources/css/rtntext.css">
<link rel="icon" href="./Resources/image/RTN-Logo.svg" type="image/x-icon">

<script> // subpage navigation
    function navigateProgram()
    {
        location.href="./program.html";
    }
    function navigateInspiration()
    {
        location.href="./inspiration.html";
    }
    function navigateCredits()
    {
        location.href="./credits.html";
    }
    function navigateImplementation()
    {
        location.href="./implementation.html";
    }
</script>