<div style="background-color: rgb(44, 46, 54); font-family: monospace; overflow-x: auto;">
    <div id="header" class="headerContainer rtnText">
        <div class="headerTitle rtnText">
            <a id="file_save" style="color: whitesmoke">Rapid Tree Notetaker</a>
        </div>
        <div class="headerElement rtnText">
            <button onclick="navigateProgram()">Program</button>
        </div>
        <div class="headerElement rtnText">
            <button onclick="navigateImplementation()">Implementation</button>
        </div>
        <div class="headerElement rtnText">
            <button onclick="navigateInspiration()">Inspiration</button>
        </div>
        <div class="headerElement rtnText">
            <button onclick="navigateCredits()">Credits</button>
        </div> 
        <div class="headerElement rtnText">
            <img src="./Resources/image/RTN-Logo.svg" alt="RTN Website Logo"></img>
        </div>
    </div>
</div>