<meta charset="utf-8">
<title>{{pageTitle}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords" content="{{tags}}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="must-revalidate">
<link rel="icon" href="{{icon}}" type="image/x-icon">

<meta name="robots" content="all">
<meta name="language" content="EN">
<meta name="copyright" content="Brendan Rood">
<meta name="revised" content="{{revisedTime}}">
<meta name="abstract" content="{{description}}">
<meta name="topic" content="{{description}}">
<meta name="summary" content="{{description}}">
<meta name="author" content="Brendan Rood, brendanrood42@gmail.com">
<meta name="owner" content="Brendan Rood, brendanrood42@gmail.com">
<meta name="reply-to" content="brendanrood42@gmail.com">
<meta name="url" content="{{siteURL}}">
<meta name="identifier-URL" content="{{siteURL}}">
<meta name="pagename" content="{{pageTitle}}">
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Global">
<meta name="rating" content="General">
<meta name="HandheldFriendly" content="{{supportsMobile}}">
<meta name="date" content="{{timeNow}}">
<meta name="search_date" content="{{timeNow}}">

<meta property="og:title" content="{{pageTitle}}">
<meta name="og:type" content="{{contentType}}">
<meta property="og:description" content="{{description}}">
<meta property="og:site_name" content="{{siteName}}">
<meta property="og:url" content="{{siteURL}}">
<meta property="og:image" content="{{icon}}">
<meta name="og:email" content="brendanrood42@gmail.com">

<meta itemprop="name" content="{{pageTitle}}">
<meta itemprop="description" content="{{description}}">
<meta itemprop="image" content="{{icon}}">

<meta name="twitter:card" content="{{description}}">
<meta name="twitter:url" content="{{siteURL}}">
<meta name="twitter:title" content="{{pageTitle}}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:image" content="{{icon}}">

<link rel="archives" title="{{archiveTitle}}" href="{{archiveURL}}">