AddDefaultCharset UTF-8

# Allow CORS GET for the RTN. Necessary for checking if the primary mirror is online.
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET"

# Forward program.html payloads to otag-handler.php to update the header with doc contents
RewriteEngine On
RewriteRule .*program\.html\.php$ otag-handler.php
RewriteRule .*program\.html$ otag-handler.php
# Legacy (non-php) redirects
RewriteRule .*index.html$ index.html.php
RewriteRule .*implementation.html$ implementation.html.php
RewriteRule .*credits.html$ credits.html.php
RewriteRule .*inspiration.html$ inspiration.html.php
RewriteRule .*usage.html$ usage.html.php
RewriteRule .*settings.html$ settings.html.php