:root {
    --RTN-SETTING_siteColor: #2c2e36; /* Default color */
    --RTN-SETTING_backgroundColor: #43485b; /* Default color */
    --RTN-SETTING_textColor: #f5f5f5; /* Default color */
    --RTN-SETTING_glyphColor: #00ffff; /* Default color */
}